@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
div.col-5 > h4{
    font-family: 'Quicksand';
    text-align:center;
    color: var(--txt);
}

span:before {
    font-family: 'Quicksand';
    color: var(--txt);
    content: "gamer";
    animation: animate infinite 4s;
    padding-left: 5px;
}

@keyframes animate {

    0% {
        content: "gamer";
        opacity: 1;
    }
    5% {
        opacity: 0.5;
    }
    10% {
        opacity: 0;
    }
    15% {
        opacity: 0.5;
    }
    20% {
        content: "web-developer";
        opacity: 1;
    }
    25% {
        opacity: 0.5;
    }
    30% {
        opacity: 0;
    }
    35% {
        opacity: 0.5;
    }
    40% {
        opacity: 1;
        content: "traveler";
    }
    45% {
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
    55% {
        opacity: 0.5;
    }
    60% {
        opacity: 1;
        content: "cat-dad";
    }
    65% {
        opacity: 0.5;
    }
    70% {
        opacity: 0;
    }
    75% {
        opacity: 0.5;
    }
    80% {
        opacity: 1;
        content: "music-lover";
    }
    85% {
        opacity: 0.5;
    }
    90% {
        opacity: 0;
    }
    95% {
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}