@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --bg: #f8fafa;
  --txt: #222222;
  --txt-opt: #424242;
  --div-bg: #e0e2e2;
  --border: #d4d4d4;
  --hover: #919191;
}

[data-theme="dark"] {
  --bg: #18181b;
  --txt: #ffffff;
  --txt-opt: #a1a1aa;
  --div-bg: #222222;
  --border: #575656;
}

body {
  background-color: var(--bg);
  transition: 0.5s ease;
}

header>nav>ul>li {
  list-style: none;
  display: inline-flex;
}

header>nav>ul>li>a {
  font-family: 'Quicksand';
  text-decoration: none;
  font-size: 15px;
  padding: 3.8px;
  background-color: var(--border);
  border-radius: 20px;
  color: var(--txt);
  font-weight: 800;
}

header>nav>ul>li>a .active {
  font-weight: bold;
}

header>nav>ul>li>a:hover {
  background-color: var(--hover);
}

header>div>h1>a:hover {
  text-decoration: underline dotted;
}

input[type=checkbox] {
  display: none;
  float: left;
}

.slider {
  display: flex;
  justify-content:right;
}

.theme-switch {
  display: inline-block;
  height: 30px;
  position: relative;
  width: 60px;
}

.round {
  background-color: var(--border);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  border-radius: 30px;
}

.round::before {
  background-color: var(--bg);
  bottom: 2px;
  top: 2px;
  content: "";
  height: 26px;
  left: 2px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
  border-radius: 50%;
}

.round>i {
  color: var(--bg);
  position: absolute;
  transition: opacity 0.2s ease 0s, ease 0s;
}

input:checked+.round::before {
  transform: translateX(30px);
}

.light {
  opacity: 0;
  left: 5px;
  top: 5px;
  bottom: 5px;
  transform: translateX(0px);
  font-size: larger;
}

.dark {
  opacity: 1;
  right: 5px;
  top: 5px;
  bottom: 5px;
  color: var(--bg);
  text-shadow: 1px 1px 1px #18181b, 1px 1px 1px #18181b;
  font-size: larger;
}

input:checked+.round .light {
  opacity: 1;
  color: var(--txt);
  text-shadow: 1px 1px 1px #18181b, 1px 1px 1px #18181b;
}

input:checked+.round .dark {
  opacity: 0;
}

hr {
  background-color: var(--border);
}

.profil {
  position: sticky;
  border: 2px solid var(--border);
  border-radius: 20px;
  padding: 5px;
}

.profilephoto {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.social-links {}

.social {
  list-style: none;
}

.social>li {
  margin: 15px;
  text-align: left;
}

.social>li>a {
  font-family: 'Quicksand';
  color: var(--txt);
  font-size: 20px;
  text-decoration: none;
}

.social>li>a>i {
  color: var(--txt);
  font-size: 25px;
  text-decoration: none;
  align-items: left;
}

.social>li>p {
  font-family: 'Quicksand';
  color: var(--txt);
  font-size: 20px;
  text-decoration: none;
}

.social>li>p>i {
  color: var(--txt);
  font-size: 25px;
  text-decoration: none;
  align-items: left;
}

.blog {
  margin: 10px;
}

div>div>div>div>p {
  font-family: 'Quicksand';
  font-weight: 400;
  color: var(--txt);
}

div>div>div>div>p>a {
  font-family: 'Quicksand';
  font-weight: 400;
  text-decoration: underline dotted;
  color: var(--txt);
}

div>div>div>div>p>a>i {
  color: var(--txt);
}

div>div>div>div>p>a:hover {
  background-color: var(--border);
}

h1 {
  color: var(--txt);
}

h3 {
  color: var(--txt);
  padding: 10px;
}
.work {
  list-style: none;
}
.work > a {
  border: 2px solid var(--border);
  border-radius: 10px;
}
.work > a img {
  padding: 10px;
  height: 21em;
  width: auto;
  transform: scale(1);
  transition: 0.2s;
}
.work>a:hover img {
  transform: scale(1.02);
  transition: 0.2s;
}
h6 {
  color: var(--txt);
  text-align: center;
}
footer
  {
    font-family: 'Quicksand';
    color: var(--txt);
    text-align: center;
  }
  footer a
  {
    font-family: 'Quicksand';
    color: var(--txt);
    text-decoration:underline;
  }
  .ozan
  {
    font-family: 'Quicksand';
    text-decoration: none;
  }
  .ozan:hover
  {
    color: #007bb5;
  }